<!-- ko allowBindings: true -->
<div class="jog-panel" id="OctoPrint_CameraControl" style="display: none;">
    <h1>Webcam Controls</h1>
    <div>
        <button class="btn box" data-bind="click: moveUp"><i class="fa fa-arrow-up"></i></button>
    </div>
    <div>
        <button class="btn box" data-bind="click: moveLeft"><i class="fa fa-arrow-left"></i></button>
        <button class="btn box" data-bind=""><i class="fa fa-lightbulb-o"></i></button>
        <button class="btn box" data-bind="click: moveRight"><i class="fa fa-arrow-right"></i></button>
    </div>
    <div>
        <button class="btn box" data-bind="click: moveDown"><i class="fa fa-arrow-down"></i></button>
    </div>
</div>
<!-- /ko -->
